(
    tasks: [
        (
            id: "cam0",
            type: "crate::cu29::tasks::V4L2Camera",
            config: {
                "camera_id": 0,
                "rows": 480,
                "cols": 640,
                "fps": 30,
            }
        ),
        // NOTE: uncomment to use this camera
        // (
        //     id: "cam0",
        //     type: "crate::cu29::tasks::RTSPCamera",
        //     config: {
        //         // URL of the RTSP camera
        //         // rtsp://<username>:<password>@<ip>:<port>/<stream>
        //         "url": "rtsp://tapo_entrance:123456789@192.168.1.141:554/stream2",
        //     }
        // ),
        //(
        //    id: "rerun",
        //    type: "crate::cu29::tasks::RerunLogger",
        //    config: {
        //        // Path to the directory where the logs will be stored
        //        "path": "/tmp/",
        //        // IP address of the rerun server
        //        "ip": "192.168.1.144",
        //        // Port of the rerun server
        //        "port": 9876,
        //    }
        //),
        //(
        //    id: "imgproc",
        //    type: "crate::cu29::tasks::Imgproc"
        //),
        (
            id: "print",
            type: "crate::cu29::tasks::Print"
        ),
        (
            id: "object_detection",
            type: "crate::cu29::tasks::ObjectDetection"
        ),
    ],
    cnx: [
        // (src: "cam0", dst: "rerun", msg: "crate::cu29::msgs::ImageRGBU8Msg"),
        //(src: "cam0", dst: "imgproc", msg: "crate::cu29::msgs::ImageRGBU8Msg"),
        //(src: "imgproc", dst: "print", msg: "crate::cu29::msgs::MeanStdMsg"),
        (src: "cam0", dst: "object_detection", msg: "crate::cu29::msgs::ImageRGBU8Msg"),
        (src: "object_detection", dst: "print", msg: "crate::cu29::msgs::MeanStdMsg"),
    ],
    logging: (
        enable_task_logging: false,
    )
)
