(
    tasks: [
        //(
        //    id: "cam0",
        //    type: "crate::cu29::tasks::VideoCapture",
        //    config: {
        //        "source_type": "v4l2",
        //        "source_uri": "/dev/video0",
        //        "source_fps": 30,
        //        "image_cols": 640,
        //        "image_rows": 480,
        //    }
        //),
        // NOTE: uncomment to use this camera
        (
            id: "cam0",
            type: "crate::cu29::tasks::VideoCapture",
            config: {
                "source_type": "rtsp",
                // URL of the RTSP camera
                // rtsp://<username>:<password>@<ip>:<port>/<stream>
                "source_uri": "rtsp://tapo_entrance:123456789@192.168.1.141:554/stream2",
            }
        ),
        //(
        //    id: "printer",
        //    type: "crate::cu29::tasks::Printer",
        //),
        (
            id: "inference",
            type: "crate::cu29::tasks::Inference",
        ),
        (
            id: "broadcast",
            type: "crate::cu29::tasks::Broadcast",
        ),
        (
            id: "text0",
            type: "crate::cu29::tasks::TextCapture",
        )
    ],
    cnx: [
        (src: "cam0", dst: "inference", msg: "crate::cu29::msgs::ImageRgb8Msg"),
        (src: "text0", dst: "inference", msg: "crate::cu29::msgs::ChatTextMsg"),
        (src: "cam0", dst: "broadcast", msg: "crate::cu29::msgs::ImageRgb8Msg"),
        (src: "inference", dst: "broadcast", msg: "crate::cu29::msgs::ChatTextMsg"),
        //(src: "cam0", dst: "printer", msg: "crate::cu29::msgs::ImageRgb8Msg"),
    ],
    logging: (
        slab_size_mib: 1024, // Preallocates 1GiB of memory map file at a time
        section_size_mib: 100, // Preallocates 100MiB of memory map per section for the main logger.
        enable_task_logging: false,
    ),
)
