name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v0.39.0
          cache: true

      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true

      - name: Format
        run: pixi run fmt-check

      - name: Clippy
        run: pixi run clippy

      - name: Check
        run: pixi run check

      - name: Test
        run: pixi run test
